body {
  font-family: "Lato", sans-serif;
}

/* Style page content */
.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 22px; /* Increased text to enable scrolling */
  padding: 5% 5% 10% 5%;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 20px #F0F3F4;
  overflow-x: hidden;
  
}

.navblock {
  margin:auto;
  width: 100%;
  height: 90%;
  display: flex;
}

.navblock_text {
  margin: auto;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.navblock_text a {
  padding: 26px 16px 26px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
}

.navblock_text a:hover {
  color: #CFD8DC;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #818181;
  text-align: center;
}

.about_accent {
  color:  green;
}

.resume_accent {
  color:  green;
}

.research_accent {
  color:  #E74C3C;
}

.blog_accent {
  color:  green;
}

.portfolio_accent {
  color:  green;
}

a {
  color: #3498DB;
}

.about_image_1{
  display: block;
  margin-top: 10%;
  width: 300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  margin-left: auto;
  margin-right: auto;
}

.about_text {
  text-align: center;
}

.about_links {
  text-align: center;
  padding: 5% 5% 5% 5%;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0px 0px;
    box-shadow: 0px 10px 40px #F0F3F4;
  }
  .sidenav a {
    text-align: center;
    float: none;
  }
  .navblock_text a {
    padding: 16px;
  }
  .footer {
    display: none;
  }
  .main {
    margin-left: 0;
    padding: 20% 4% 20% 4%;
  }
}



