body {
  font-family: "Lato", sans-serif;
}

/* Style page content */
.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 22px; /* Increased text to enable scrolling */
  line-height: 35px;
  padding: 10%;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  box-shadow: 2px 2px 20px #F0F3F4;
  overflow-x: hidden;
  
}

.navblock {
  margin:auto;
  width: 100%;
  height: 90%;
  display: flex;
}

.navblock_text {
  margin: auto;
  width: 100%;
  padding-top: 15%;
  padding-bottom: 15%;
}

.navblock_text a {
  padding: 26px 16px 26px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
}

.navblock_text a:hover {
  color: #CFD8DC;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #818181;
  text-align: center;
}

.about_accent {
  color:  green;
}

.resume_accent {
  color:  green;
}

.research_accent {
  color:  #E74C3C;
}

.blog_accent {
  color:  #8E44AD;
}

a {
  color: #3498DB;
  text-decoration: none;
}

.about_photo{
  display: block;
  margin-top: 5%;
  width: 300px;
  height:300px;
  object-fit:cover;
  border-radius:50%;
  margin-left: auto;
  margin-right: auto;
}

.about_logo{
  display: block;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.about_text {
  text-align: center;
}

.about_links {
  text-align: center;
  padding: 5% 5% 5% 5%;
}

.portfolio_accent {
  color:  #F1C40F;
}

.portfolio_image {
  max-width: 300px;
  max-height:300px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.portfolio-container > div {
  background-color: white;
  width: 50%;
  margin: 4% 0% 4% 0%;
  min-height: 20vh;
  justify-content: center;
  position: relative;
}

.portfolio-container_text {
  width: 90%;
  position: absolute;
  text-align: left;
}

.portfolio-container_image {
  width: 90%;
  position: absolute;
  text-align: center;
  color: #8E44AD;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-container > div {
  background-color: white;
  box-shadow: 2px 2px 20px #EAECEE;
  width: 45%;
  margin: 5% 0% 5% 0%;
  min-height: 25vh;
  line-height: 60px;
  font-size: 25px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blog_text {
  width: 90%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog_date {
  width: 95%;
  padding-right: 5%;
  font-size: 20px;
  color: #CFD8DC;
  text-align: end;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0px 10px 40px #F0F3F4;
  }
  .sidenav a {
    text-align: center;
    float: none;
  }
  .navblock_text a {
    padding: 16px;
  }
  .footer {
    display: none;
  }
  .main {
    margin-left: 0;
    padding: 20% 4% 20% 4%;
  }

  .portfolio_image {
    display: block;
    max-width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .blog-container > div {
    width: 100%;
    min-height: 30vh;
    margin: 10% 0% 10% 0%;
  }
  .portfolio-container > div {
    width: 100%;
  }

}



